.header{
    height:55px;
    display: flex;
    flex:row;
    margin-bottom: 0px;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: rgb(39, 140, 223);
    border-bottom-style:bold ;
    z-index: 100;
    }
.left-section{
    
    
    display: flex;
    align-items: center;
}
.mid-section{
    
    margin-right: 0px;
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width:500px;
    display: flex;
    align-items: center;
   
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
   
.hamburger{
    height:25px;
    margin-left: 25px;
    margin-right: 25px;
}
.yt_logo{
    height:20px
}
.voice-icon{
    height: 40px;
    width: 45px;
    flex-shrink: 0;
    margin-left:10px;
    border-radius: 20px; 
    border:none;
    background-color: rgb(215, 215, 215);

}
.search-icon{
    height: 40px;
    width: 60px;
    background-color: rgba(244, 241, 239, 0.951);
}
.search-icon::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
.search-sign{
    height:26px;
    margin-top: 4px;
}
.voice-sign{
    height:26px;
    margin-top: 4px;
}
.upload-sign{
    height:24px;
}
.apps-sign{
    height:24px;
}
.notification-sign{
    height:24px;
}
.profile-sign{
    height:32px;
}

