{% extends "base.html" %}

{% block title %}Feedback Form{% endblock %}

{% block content %}
    <h2>Feedback Form</h2>
    <form method="post" action="/feedback">
        <label for="username">Name:</label><br>
        <input type="text" id="username" name="username" required><br><br>


        <label for="feedback">Feedback:</label><br>
        <textarea type="text" id="feedback" name="feedback" placeholder="Please enter your feedback here..." required></textarea><br><br>

        <input type="submit" value="Submit Feedback">
    </form>
{% endblock %}